@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~font-awesome/scss/font-awesome";
@import '~bootstrap/scss/bootstrap';
@import "~select2/dist/css/select2.min.css";
@import "~bootstrapvalidator/dist/css/bootstrapValidator.css";
@import '~dropzone/dist/min/dropzone.min.css';


.dropzone2,
.dropzone2 * {
    box-sizing: border-box
}

.dropzone2 {
    min-height: 300px;
    border: 5px dotted rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px
}

.dropzone2.dz-clickable {
    cursor: pointer
}

.dropzone2.dz-clickable * {
    cursor: default
}

.dropzone2.dz-clickable .dz-message,
.dropzone2.dz-clickable .dz-message * {
    cursor: pointer
}

.dropzone2.dz-started .dz-message {
    display: none
}

.dropzone2.dz-drag-hover {
    border-style: solid
}

.dropzone2.dz-drag-hover .dz-message {
    opacity: 0.5
}

.dropzone2 .dz-message {
    text-align: center;
    margin: 2em 0;

    i {
        color: #007bff;
    }
}

.dropzone2 .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px
}

.dropzone2 .dz-preview:hover {
    z-index: 1000
}

.dropzone2 .dz-preview:hover .dz-details {
    opacity: 1
}

.dropzone2 .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd)
}

.dropzone2 .dz-preview.dz-file-preview .dz-details {
    opacity: 1
}

.dropzone2 .dz-preview.dz-image-preview {
    background: white
}

.dropzone2 .dz-preview.dz-image-preview .dz-details {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear
}

.dropzone2 .dz-preview .dz-remove {
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none
}

.dropzone2 .dz-preview .dz-remove:hover {
    text-decoration: underline
}

.dropzone2 .dz-preview:hover .dz-details {
    opacity: 1
}

.dropzone2 .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 150%
}

.dropzone2 .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 16px
}

.dropzone2 .dz-preview .dz-details .dz-filename {
    white-space: nowrap
}

.dropzone2 .dz-preview .dz-details .dz-filename:hover span {
    border: 1px solid rgba(200, 200, 200, 0.8);
    background-color: rgba(255, 255, 255, 0.8)
}

.dropzone2 .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis
}

.dropzone2 .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 1px solid transparent
}

.dropzone2 .dz-preview .dz-details .dz-filename span,
.dropzone2 .dz-preview .dz-details .dz-size span {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 0.4em;
    border-radius: 3px
}

.dropzone2 .dz-preview:hover .dz-image img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(8px);
    filter: blur(8px)
}

.dropzone2 .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10
}

.dropzone2 .dz-preview .dz-image img {
    display: block
}

.dropzone2 .dz-preview.dz-success .dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)
}

.dropzone2 .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
    -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)
}

.dropzone2 .dz-preview .dz-success-mark,
.dropzone2 .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px
}

.dropzone2 .dz-preview .dz-success-mark svg,
.dropzone2 .dz-preview .dz-error-mark svg {
    display: block;
    width: 54px;
    height: 54px
}

.dropzone2 .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.dropzone2 .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in
}

.dropzone2 .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite
}

.dropzone2 .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    width: 80px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1);
    border-radius: 8px;
    overflow: hidden
}

.dropzone2 .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666, #444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out
}

.dropzone2 .dz-preview.dz-error .dz-error-message {
    display: block
}

.dropzone2 .dz-preview.dz-error:hover .dz-error-message {
    opacity: 1;
    pointer-events: auto
}

.dropzone2 .dz-preview .dz-error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: block;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    font-size: 13px;
    top: 130px;
    left: -10px;
    width: 140px;
    background: #be2626;
    background: linear-gradient(to bottom, #be2626, #a92222);
    padding: 0.5em 1.2em;
    color: white
}

.dropzone2 .dz-preview .dz-error-message:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 64px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #be2626
}

.sidebar {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
    margin-top: 55px;
    position: fixed;

    .sidebar-sticky {
        margin-top: 20px;
    }

    .input-group input {
        border-right: none;
    }

    .input-group-text {
        border-left: none;
        background: #fff;
    }
}

.input-group-text {
    background: #fff;
}


.scrollbar {
    margin-left: 22px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

/**  STYLE 3 */
#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(52, 152, 219, 1.0);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: rgba(44, 62, 80, 1.0);
}

#myTabContent {
    label {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-success .input-group-text {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}

.has-success .form-control-feedback {
    color: #3c763d;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #8a6d3b;
}

.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-warning .input-group-text {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}

.has-warning .form-control-feedback {
    color: #8a6d3b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-text {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}

.has-error .form-control-feedback {
    color: #a94442;
}

.has-feedback label ~ .form-control-feedback {
    top: 25px;
}

.has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.upload-form {
    .select2-container .select2-selection--single {
        height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 38px;
    }

    .select2-container--default .select2-selection--single.is-valid {
        border: 1px solid green;
    }

    .select2-container--default .select2-selection--single.is-invalid {
        border: 1px solid red;
    }
}

#vehicles {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .item {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin-right: 10px;
        width: 49%;
        margin-bottom: 15px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 140px;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            background: #efefef;
        }

        .image {
            width: 100%;
            background-image: url(http://autokereso.loc/images/rkevr.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
            width: 30%;
            height: 140px;
        }

        .details {
            width: 70%;
            position: relative;
            /*.price {
                position: absolute;
                right:10px;
                top:10px;
                background-color: #28a745;
                font-weight: bold;
                color: black;
                background: white;
                font-size: 17px;
                border-radius: 5px;
                padding: 0px 10px;
            }*/
            .price {
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 10px;
                width: auto;
                height: 25px;
                background-color: #979797;
                -webkit-border-radius: 3px 4px 4px 3px;
                -moz-border-radius: 3px 4px 4px 3px;
                border-radius: 3px 4px 4px 3px;
                border-left: 1px solid #979797;
                margin-left: 19px;
                color: white;
                font-weight: 300;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14px;
                line-height: 25px;

                padding: 0 10px 0 10px;
            }

            /* Makes the triangle */
            .price:before {
                content: "";
                position: absolute;
                display: block;
                left: -18px;
                width: 0;
                height: 0;
                border-top: 13px solid transparent;
                border-bottom: 12px solid transparent;
                border-right: 19px solid #979797;
            }

            /* Makes the circle */
            .price:after {
                content: "";
                background-color: white;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                display: block;
                position: absolute;
                left: -5px;
                top: 8px;
            }

            .info {
                padding: 20px 5px;

                .id {
                    color: gray;
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: bold;
                    position: absolute;
                    bottom: 3px;
                    left: 3px;
                }

                .badge {
                    background: white;
                    color: #8b8b8b;
                    border: 1px solid #8b8b8b;
                    font-size: 11px;
                    text-transform: uppercase;
                }

                .brand {
                    width: 100%;
                    display: block;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .save {
                position: absolute;
                right: 5px;
                bottom: 5px;
                background: red;
            }
        }
    }
}

.navbar {
    background: -webkit-linear-gradient(-180deg, rgb(52, 73, 94), rgb(52, 152, 219)) !important;
    color: white !important;
}

.line {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 3px solid rgba(0, 0, 0, 0.1) !important;
}

.input-group-text.is_valid {
    background: #fff;
    border-color: #28a745;
}

.input-group-text.is-invalid {
    background: #fff;
    border-color: #dc3545;
}


#upload {
    .nav-tabs {
        border-bottom: none;
        display: flex;
        .nav-item {
            flex-grow: 1;
            flex-basis: 0;
            background: #999;
            &:last-child .nav-link{
                &:after {
                    display:none;
                }
            }
            .nav-link {
                padding: 10px 30px;
                position:relative;
                border: none !important;
                background: #e1e1e1;
                span {
                    background: white;
                    display:inline-block;
                    width:25px;
                    height:25px;
                    border-radius:50%;
                    text-align:center;
                    color: black;
                    font-weight:bold;
                    padding:0px;
                }
                &:hover {
                    background: #444;
                    color: white;
                    &:after {
                        position: absolute;
                        content: "";
                        border-top: 22px solid transparent;
                        border-bottom: 22px solid transparent;
                        border-left: 22px solid #444;
                        right: -22px;
                        z-index: 999;
                        top: 0px;
                    }
                }
                &:after {
                    position: absolute;
                    content: "";
                    border-top: 22px solid transparent;
                    border-bottom: 22px solid transparent;
                    border-left: 22px solid #e1e1e1;
                    right: -22px;
                    z-index: 999;
                    top: 0px;
                }
                &.active {
                    background-color: #007bff;
                    color: white;
                    &:after {
                        position: absolute;
                        content: "";
                        border-top: 23px solid transparent;
                        border-bottom: 22px solid transparent;
                        border-left: 30px solid #007bff;
                        right: -28px;
                        z-index: 999;
                        top: 0px;
                    }
                }
            }
        }
    }

    .tab-content {
        border: 2px solid #e1e1e1;
        padding: 10px;
    }
}

.progress-bar {
    transition: width .6s ease;
}

.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
}
.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 2px;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: middle;
}
.select2-results__option[aria-selected=true]:before {
    font-family: fontAwesome;
    content: "\F00C";
    color: #fff;
    background-color: #777;
    border: 0;
    display: inline-block;
    padding-left: 2px;
    margin: 2px;
    line-height: 1.25rem;
    margin-right: 10px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727;
}
.select2-container--default .select2-selection--multiple {
    margin-bottom: 10px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #f77750;
    border-width: 2px;
}
.select2-container--default .select2-selection--multiple {
    border-width: 2px;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.select2-selection .select2-selection--multiple:after {
    content: 'hhghgh';
}
/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
    display: none;
}
.select-icon .placeholder {
    display: none;
}
.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
    display: none !important;
    /* content: "" !important; */
}
.select-icon  .select2-search--dropdown {
    display: none;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}
table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
    text-align: center;
}
table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 100%;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}
div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
}
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
    outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
}
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1;
}
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0;
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
}
div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
    box-sizing: content-box;
}
div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
    margin-top: 0 !important;
    border-top: none;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}
table.dataTable.table-sm > thead > tr > th {
    padding-right: 20px;
}
table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
    top: 5px;
    right: 0.85em;
}
table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
    top: 5px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-left-width: 0;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
}
table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0;
}

/*Datatables*/
.dataTables_length {
    label {
        display: inline-flex;
        padding: 10px;
        .custom-select {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
.dataTables_filter {
    width: 60%;
    label {
        width: 100%;
        display: inline-flex;
        padding: 10px;
        input {
            margin-left: 10px;
        }
    }
    float:right;
}


.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card.bg-dark,
.card.bg-dark .card-body {
    color: #ffffff;
}

.card.collapsed-card .card-body,
.card.collapsed-card .card-footer {
    display: none;
}

.card .nav.flex-column > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0;
}

.card .nav.flex-column > li:last-of-type {
    border-bottom: none;
}

.card.height-control .card-body {
    max-height: 300px;
    overflow: auto;
}

.card .border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.card .border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.card > .overlay,
.card > .loading-img,
.overlay-wrapper > .overlay,
.overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.25rem;
}

.card .overlay > .fa,
.overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.card .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}

.card-header::after,
.card-body::after,
.card-footer::after {
    display: block;
    clear: both;
    content: "";
}

.card-header {
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.collapsed-card .card-header {
    border-bottom: none;
}

.card-header > .card-tools {
    position: absolute;
    right: 1rem;
    top: .5rem;
}

.card-header > .card-tools [data-toggle="tooltip"] {
    position: relative;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}
